body {
    background: #71c9f1;
    font: 18px/1.4 Arvo, sans-serif;
    margin: 0;
    padding: 0;
}

.stage {
    width: 960px;
    margin: 0 auto;
    padding: 0 5%;
    box-sizing: border-box;
}

input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) inset;
    padding: 10px 12px 8px;
    width: 18em;
    color: #999;
}

input[type=submit] {
    background: #e64c3c;
    color: #fff;
    box-shadow: none;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    -webkit-appearance: none;
}

#top {
    margin: 0;
    padding: 85px 0;
    background: #bce6fb url(../img/zag.png) repeat-x bottom center;
    background-size: 27px 9px;
}

#bottom {
    margin: 0;
    padding: 37px 0;
    color: #fff;
}

#logo {
    margin: 0 auto 55px;
    display: block;
}

#footer {
    color: #38424b;
    font-size: 14px;
    margin: 25px 0;
    border-top: 1px solid #bce6fb;
    padding-top: 15px;
}

form {
    display: block;
    margin: 35px 0 0;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    margin: 10px 0;
    text-align: center;
    line-height: 1.1;
    color: #38424b;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 6px 0;
}

p {
    margin: 6px 0;
}

#links {
    margin: 18px 0;
    text-align: center
}

#links a {
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    padding-left: 45px;
    padding-right: 40px;
    position: relative;
}

#links a:hover {
    text-decoration: none;
}

#links a:after {
    content: " ";
    background: url(../img/icons.png) no-repeat 0 0;
    height: 30px;
    width: 35px;
    display: block;
    position: absolute;
    top: 50%;
    margin: -17px 0 0 -45px;
}

#links a#facebook:after {
    background-position: 1px -30px;
}

#links {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

@media only screen and (max-width: 959px) {
    .stage {
        width: auto;
    }
}

@media only screen and (max-width: 759px) {
    #links {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (max-width: 399px) {
    #links {
        text-align: left
    }

    input[type=email] {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}

@media only screen and (max-width: 499px) {
    body {
        font-size: 15px;
    }

    h1 {
        font-size: 20px;
    }

    #logo {
        margin-bottom: 20px;
        width: 50%
    }

    #top {
        padding: 20px 0;
    }

    form {
        margin-bottom: 20px;
    }

    #links a {
        font-size: 18px;
        line-height: 30px;
    }
}
